/* <system section="theme" selected="alpha2"> */
@import "/css/theme/alpha2/alpha2.css";
/* </system> */

/* <system section="background" selected="default"> */
/* default */
/* </system> */
#container{
  width: 1040px;
}
#container-inner{
  width: 1040px;
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
}
#content{
  width: 1040px;
  margin-left: 30px;
  padding-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
}
#wrapper{
  width: 780px;
  margin-left: 30px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
#main{
  width: 680px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
#main-inner{
  width: 620px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
#box2{
  width: 200px;
  margin-left: -30px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
#box2-inner{
  width: 200px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.entry-title {
  font-size: 125%;
}
h1 {
  font-size: 125%;
}
.entry-content h3 {
  font-size: 120%;
  border-width: 0px;
  border-bottom-width: 1px;
  color:#555;
  border-style: dotted;
  margin-top: 25px;
}
.entry-content h4 {
  font-size: 115%;
  border-width: 0px;
  border-bottom-width: 1px;
  color:#555;
  border-style: dotted;
  margin-top: 25px;
}

.entry-content h5 {
  font-size: 110%;
  margin-top: 22px;
  margin-bottom: 0;
}
.entry-content p {
  line-height: 22px;
  font-size: 105%;
  margin-top: 10px;
}
.entry-content pre {
  line-height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.entry-header div {
  margin-bottom: 30px;
}
